@use "../../foundation/variables" as v;

.p-collection{
    flex: 1;
    padding-left: 40px;

    &__title{
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0.05em;
    }

    &__group{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% - 8px * 3) / 4);
        gap: 8px;
        overflow-x: auto;
        margin-top: 16px;

        & + &{
            margin-top: 24px;
        }

        // scrollbar
        &::-webkit-scrollbar {
            height: 4px;
        }

        &::-webkit-scrollbar-track {
            background: #e0e0e0;
    }


        &::-webkit-scrollbar-thumb {
            background-color: v.$color-text;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }
    }


    &__item{
        position: relative;
    }

    &__image-wrap{
        position: relative;
        overflow: hidden;

        .p-collection__image{
            opacity: 0;
        }

        &::after{
            content: "";
            position: absolute;
            inset: 0;
            background: #000;
            transform: translateX(-100%);
        }
    }

    &__item.is-revealed &__image-wrap{
        &::after{
            animation: wipe-reveal 0.8s ease forwards;
        }

        .p-collection__image{
            animation: fade-reveal 0.8s ease forwards;
        }
    }

    &__image{
        width: 100%;
        height: auto;
        display: block;
    }

    &__caption{
        font-size: 0.625rem;
        line-height: 1.6;
        margin-top: 4px;
    }
}