@use "../../foundation/variables" as v;

.p-masterpiece{
    &__inner{
        max-width: v.$section-max-width;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__header{
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__title{
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 1;
        flex-shrink: 0;
    }

    &__lead{
        max-width: 520px;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.9;
    }

    &__items{
        display: flex;
        gap: 4px;
    }

    &__col-left{
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 4px;
    }

    &__col-right{
        display: flex;
        flex-direction: column;
        flex: 2;
        gap: 4px;
    }

    &__row-top{
        display: flex;
        gap: 4px;
    }

    &__col-inner{
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 4px;
    }

    &__item{
        display: block;
        width: 100%;
        height: auto;
    }

}